<!DOCTYPE html>
<html>
<body>

<h1>Do you want to donate or are you in need of donations?</h1>


<form action="/donations" method="GET" style="width: 450px;" >

 <a href='/donations'><button>Donate</button></a>


</form>

<form action="/forum" method="GET" style="width: 450px;" >

 
<a href='/forum'><button>In Need of Donations</button></a>



</form>


</body>
</html>










 